{% extends "base.html" %}

{% block title %}Tyreese Learmond Links{% endblock %}

{% block content %}
  <h2 style="align-items: center; text-align: center;">Let's Connect</h2>
  <ul style="list-style: none; padding-left: 0; display: flex; flex-direction: column; align-items: center; gap: 15px; margin-top: 50px;">
    <li><a href="https://linkedin.com/in/tyreeselearmond" target="_blank">LinkedIn</a></li>
    <li><a href="https://x.com/tyreeselearmond" target="_blank">X (Twitter)</a></li>
    <li><a href="https://facebook.com/tyreeselearmond1" target="_blank">Facebook</a></li>
    <li><a href="https://instagram.com/tyreeselearmond" target="_blank">Instagram</a></li>
    <li><a href="https://snapchat.com/tyreeselearmond" target="_blank">Snapchat</a></li>
    <li><a href="https://tiktok.com/@tyreeselearmond" target="_blank">TikTok</a></li>
    <li><a href="https://tyreeselearmond.bio/contact" target="_blank">Contact</a></li>
  </ul>
{% endblock %}